<div class="modal fade" id="Modal-purchase-{{item.id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="color: #121212">
            <div class="modal-header">
                
                <h5 class="modal-title" >
                    {{item.name}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>

            </div>

            <div class="modal-body">
                Are you sure you want to buy this {{item.name}} ?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" >Buy</button>
            </div>
        </div>
    </div>
</div>