{% extends 'base.html' %} 

{% block content %} 


<h1>market page</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items%}
            <tr>
                <td> {{item.id}}</td>
                <td> {{item.name}}</td>
                <td> {{item.barcode}}</td>
                <td> {{item.price}}</td>
                <td>
                    <button class="btn btn-outline-success btn-sm">
                        Purchase
                    </button>
                    <button class="btn btn-outline-info btn-sm">
                        More info
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}